body {
    padding-top: 70px;
    background: #494949;
}

.navbar {
    background: #FF3C38;
}

#navbar-brand {
    color: #153243;
}

.nav.navbar-nav li a {
    color: #153243;
}


/* To be fixed */
.wrapper {
    background-color: white;
}


#submit {
    margin-bottom: 20px;
}