body {
    padding-top: 70px;
    background: #ffffff;
}

.thumbnail img {
    height: 200px;
    width: 100%;
}

#mainlogo {
    background-image: url("../img/CarShare%20Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.wrapper {
    background-color: white;
}


#submit {
    margin-bottom: 20px;
}
